@charset "utf-8";

html {
	background: url(resources/images/bg.jpg);
}

body {

}

.racer {
	width: 100pt;
}

#racer1 {
	position: absolute;
	top: 250pt;
	left: 5%;
}

#racer2 {
	position: absolute;
	top: 350pt;
	left: 5%;
}

#stoplight {
	position: absolute;
	top: 30pt;
	left: 30pt;
	width: 100pt;
}

